# Main App
streamlit==1.42.0
pandas
numpy

# OpenAI  Pinning to the version that fixed the 'proxies' bug
openai==1.55.3
httpx==0.27.2

# PDF Processing
pypdf
pdfreader
pycryptodome

# Utilities
python-dotenv
tenacity
watchdog
